@using NetCoreExample.Models
@addTagHelper *, Syncfusion.EJ2
@model Persona


<partial name="~/Views/Personas/_Formulario.cshtml"></partial>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Direccion</th>
            <th>Identificacion</th>
            <th>Email</th>
            <th>Fecha Nacimiento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Persona P in ViewBag.Personas) 
        {
            <tr>
                <td>@P.PerNombre</td>
                <td>@P.PerApellido</td>
                <td>@P.PerDireccion</td>
                <td>@P.PerIdentificacion</td>
                <td>@P.PerEmail</td>
                <td>@P.PerFecnac</td>
                <td><a asp-action="Modificar" asp-controller="Personas" asp-route-id="@P.PerId">Editar</a> </td>
                <td><a asp-action="Eliminar" onclick="return confirm('Desea Eliminar este registro?')" asp-controller="Personas" asp-route-id="@P.PerId">Eliminar</a> </td>
            </tr>
        }
    </tbody>
</table>
<br>
<br>
<ejs-grid id="Grid" dataSource="@ViewBag.Personas" allowGrouping="true" enableImmutableMode="true">
    <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true"></e-grid-editSettings>
    <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
    <e-grid-columns>
        <e-grid-column field="PerNombre" headerText="Nombre" textAlign="Right" width="120"></e-grid-column>
        <e-grid-column field="PerApellido" headerText="Apellido"  width="150"></e-grid-column> 
        <e-grid-column field="PerDireccion" headerText="Direccion" width="130" textAlign="Right"></e-grid-column>      
        <e-grid-column field="PerIdentificacion" headerText="Identificacion" width="120"></e-grid-column>
        <e-grid-column field="PerEmail" headerText="Correo" width="120"></e-grid-column>
        <e-grid-column field="PerFecnac" headerText="Fecha Nacimiento" width="120" format="yMd"></e-grid-column>        
    </e-grid-columns>
</ejs-grid>
<br>
<br>

